<section class="section has-text-centered">
    <div class="container is-narrow">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <h1 class="title">Hi, I’m Aleksandar. Nice to meet you.</h1>
          <h2 class="subtitle">I recently began my journey as a web developer.
                      I'm looking to grow and collaborate with talented people to build cool stuff from scratch.
                      I have a quick learning ability, great communication skills and am naturally curious.
                      I constantly work on improving my skills and performance.
          </h2>
        </div>
      </div>
    </div>
  </section>
