<section class="hero is-white has-text-centered">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title">
            Web Developer and Computer Science enthusiast
          </h1>
          <h2 class="subtitle">
            I code stuff and enjoy doing it.
          </h2>
          <img class="avatar" src="../../assets/avatar.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot">
    <div class="container"><img class="is-bottom" src="../../assets/front-end-development.png"></div>
  </div>
</section>
