<section class="section clients has-text-centered">
    <div class="container is-narrow">
      <div class="columns is-centered">
        <div class="column">
          <h1 class="title">I'm proud to have worked for an awesome company:</h1>
        </div>
      </div>
      <div class="client-grid">
        <div class="columns is-multiline is-mobile">
          <div class="column">
            <figure class="image">
              <a href="https://www.mca.mk" target="_blank"><img class="client-logo" src="../../assets/mca_logo.png"></a>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
