<section class="section projects has-text-centered">
    <div class="container is-narrow">
      <h1 class="title">My Recent Work</h1>
      <h2 class="subtitle">Here is a project I've been working on:</h2>
      <div class="project-grid">
        <div class="columns is-multiline is-mobile">
          <div class="column">
            <a href="https://app.sustainbase.com" target="_blank"><img class="project-image" src="../../assets/innoflow.png"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
