<app-navbar [isContact]="true"></app-navbar>
<div class="form-page">
  <section class="has-text-centered title-section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column"><img class="avatar" src="../../assets/avatar.svg">
          <h1 class="title">Thanks for taking the time to contact me. What can I help you with?</h1>
        </div>
      </div>
    </div>
  </section>
</div>
<section>
  <div class="container">
    <form id="form" accept-charset="UTF-8" [noValidate]="false" action="https://www.enformed.io/51zwsypq" method="POST">
      <div class="columns is-centered">
          <div class="column is-half">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" name="name" type="text" required>
            </div>
          </div>
          <div class="column is-half">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" name="email" type="email" required>
              </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" name="message" rows="5" required></textarea>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-one-third">
            <div class="control">
              <button type="submit" class="button">Submit</button>
            </div>
          </div>
        </div>
      <input type="hidden" name="*redirect" value="https://localhost:4200/success" />
      <input type="hidden" name="*honeypot" />
    </form>
  </div>
</section>
