.form-page {
  padding: 0 20px;
}

.avatar {
  width: 84px;
  margin: -50px auto 50px;
  z-index: 10;
}

:host ::ng-deep nav {
  margin-bottom: 3em;
}

.title {
  font-weight: 400;
  line-height: 1.125;
  color: #293347;
  word-break: break-word;
  margin-bottom: 2em;
}

.title-section {
  border-top: 2px solid #a3a6ac;
}

:host ::ng-deep app-footer {
  max-height: 500px !important;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem !important;
  }
}

@media screen and (min-width: 769px) {
  .columns {
    display: flex;
  }

  .column {
    flex: none;
    width: 75%;
  }
}

@media screen and (max-width: 600px) {

}
