<section class="section skills has-text-centered">
    <div class="container">
      <div class="box">
        <div class="content">
          <div class="columns is-centered">
            <div class="column">
              <figure class="image"><img class="is-skill-icon" src="../../assets/frontend-skills.svg"></figure>
              <h1 class="title">My technical skills</h1>
              <p>I enjoy bringing ideas to life. These are some of the tools I have used.</p>
              <p class="list-title has-text-primary has-text-weight-normal">Languages I speak:</p>
              <p>HTML, CSS, Typescript (Angular), C# (.NET), Java</p>
              <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
              <ul>
                <li>Visual Studio</li>
                <li>Visual Studio Code</li>
                <li>IntelliJ IDEA</li>
                <li>Bootstrap</li>
                <li>Git</li>
                <li>Github</li>
                <li>TFS</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
