/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: "europa", sans-serif;
}

.has-text-centered {
  text-align: center !important;
}

.is-white {
  background-color: #fff;
}
